[submodule "travis"]
	path = deploy/travis
	url = https://github.com/m-lab/travis.git
[submodule "operator"]
	path = deploy/operator
	url = https://github.com/m-lab/operator.git
[submodule "git-hooks"]
	path = git-hooks
	url = https://github.com/m-lab/git-hooks.git
